.wi-btn {
    padding: 4px 10px;
    border-radius: 5px;
}
.wi-btn:hover {
    filter: saturate(50%);
}

.wi-btn-bright {
    background: white !important;
    color: black !important;
}
.wi-btn-bright:hover {
    opacity: 0.8;
}

.cta-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cta-button {
    background: black;
    box-shadow: -3px -3px 0 #ffbf00, 3px 3px 0 rgba(0, 242, 234, 0.6);
    font-weight: 500;
    animation: rotateDualShadow 5s linear infinite;
    color: white;
}

.cta-button:hover {
    background: #242424;
    color: white;
}