.bg-black {
    background-color: black;
}

.bg-darkgray {
    background-color: #c8c8c8;
}
.darkgray-shadow {
    box-shadow: 0px 4px #1f1f1f;
}
.bg-grayer {
    background-color: #d4d4d4;
    /* box-shadow: 0px 4px #929292; */
}
.bg-gray {
    background-color: #ddd;
    /* box-shadow: 0px 4px #acacac; */
}
.bg-lightgray {
    background-color: #e3e3e3;
    /* box-shadow: 0px 4px rgb(191, 191, 191); */
}
.bg-lightergray {
    background-color: #eaeaea;
    /* box-shadow: 0px 4px #dfdfdf; */
}
.bg-lightestgray {
    background-color: #f4f4f4;
}
.text-black {
    color: black !important;
}