@font-face {
    font-family: Rubik;
    src: url("../fonts/rubik/Rubik-VariableFont_wght.ttf");
}
@font-face {
    font-family: Rubik;
    src: url("../fonts/rubik/Rubik-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
@font-face {
    font-family: Rubik Mono One;
    src: url("../fonts/rubik-mono-one/RubikMonoOne-Regular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("../fonts/inter/Inter-VariableFont_opsz,wght.ttf");
}
@font-face {
    font-family: Inter;
    src: url("../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf");
    font-style: italic;
}
