h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rubik;
    font-weight: bold;
}

.header-title {
    font-size: 4rem;
    font-family: Rubik;
    font-weight: bold;
}

@keyframes flicker {
    0% {text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.6), 1px 1px 0 rgba(0, 242, 234, 0.6);}
    2% {text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.2), 1px 1px 0 rgba(0, 242, 234, 0.2);}
    3% {text-shadow: 1px -1px 0 rgba(255, 0, 80, 0.6), -1px 1px 0 rgba(0, 242, 234, 0.6);}
    5% {text-shadow: 2px -1px 0 rgba(255, 0, 80, 0.5), -2px 1px 0 rgba(0, 242, 234, 0.5);}
    6% {text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.1), 1px 1px 0 rgba(0, 242, 234, 0.1);}
    7% {text-shadow: 2px -1px 0 rgba(255, 0, 80, 0.5), -2px 1px 0 rgba(0, 242, 234, 0.5);}
    10% {text-shadow: 3px -1px 0 rgba(255, 0, 80, 0.5), -4px 1px 0 rgba(0, 242, 234, 0.5);}
    11% {text-shadow: 3px -1px 0 rgba(255, 0, 80, 0), -4px 1px 0 rgba(0, 242, 234, 0);}
    12% {text-shadow: 3px -1px 0 rgba(255, 0, 80, 0.5), -4px 1px 0 rgba(0, 242, 234, 0.5);}
    13% {text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.6), 1px 1px 0 rgba(0, 242, 234, 0.6);}
    14% {text-shadow: -2px -1px 0 rgba(255, 0, 80, 0.6), 2px 1px 0 rgba(0, 242, 234, 0.6);}
    15% {text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.6), 1px 1px 0 rgba(0, 242, 234, 0.6);}
}

.heading-effect {
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.6), 1px 1px 0 rgba(0, 242, 234, 0.6);
}

.heading-effect-bw {
    text-shadow: -2px -2px 0 rgba(191, 191, 191, 0.6), 2px 2px 0 rgba(142, 142, 142, 0.6);
}
