a {
    text-decoration: none;
    color: #212121;
    cursor: pointer;
}

a:hover {
    text-shadow: -1px -1px 0 rgba(255, 0, 80, 0.6);
    color: #212121;
}

.a-white {
    color: white !important;
}
.a-white:hover {
    opacity: 0.8;
}
