p {
    font-family: Rubik, sans-serif;
    font-size: 1.6rem;
}
.intro-text > div > p,
.intro-text > p {
    padding-left:10px;
    padding-right: 10px;
    font-size: 1.4rem;
}

.intro-text > div > h2 {
    padding-left: 10px;
    padding-right: 10px;
}