celery==5.4.0
Django>=4.2,<5.0
django-celery-results==2.5.0
django-cookie-consent==0.6.0
django-csp==3.8
django-ddm==2.0b11
djangorestframework==3.15.2
gunicorn==23.0.0
hiredis==3.1.0
matplotlib>=3.9.0,<3.10.0
pandas==2.2.3
plotly==6.0.0
psycopg[binary]==3.2.4
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
wordcloud==1.9.4
beautifulsoup4==4.12.3
browser_cookie3==0.19.1
pytz~=2025.1
rich~=13.9.4
tqdm~=4.67.1
certifi~=2025.1.31
locust~=2.32.9
selenium~=4.28.1
webdriver-manager~=4.0.2
