{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block title %}Dein Feed, Deine Wahl | Ein Fehler ist aufgetreten{% endblock %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content ps-2 pe-2">
    <div class="main-section intro-text text-center fs-6 mb-5">
        <h3>Oops! Ein Fehler ist aufgetreten (500)</h3>
        <p class="fs-5">Es gab ein Problem mit dem Server. Bitte versuchen Sie es später erneut.</p>
        <p class="fs-5">Falls das Problem weiterhin besteht, kontaktieren Sie uns.</p>
        <a href="/" class="btn btn-dark btn-sm mt-3" role="button">zurück zur Startseite</a>
    </div>
</div>
{% endblock main_content %}
