{% load static i18n cookie_consent_tags %}
{% url "cookie_consent_cookie_group_list" as url_cookies %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Dein Feed, Deine Wahl{% endblock %}</title>
  <meta name="description"
        content="Dies ist die offizielle Seite des Datenspende-Projekts 'Dein Feed, Deine Wahl'.">

  <meta property="og:image"
        content="{{ request.scheme }}://{{ request.get_host }}{% static 'dd_wi_main/img/dfdw_banner.png' %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta property="og:image"
        content="{{ request.scheme }}://{{ request.get_host }}{% static 'dd_wi_main/img/dfdw_square.png' %}">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="600">

  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:type" content="website">

  <link rel="shortcut icon" type="image/x-icon"
        href="{% static 'dd_wi_main/img/favicon/dfdw_favicon.svg' %}">

  {% block site_css %}
  <link rel="stylesheet"
        href="{% static 'dd_wi_main/css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dd_wi_main/css/base.css' %}">
  {% endblock site_css %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
  <div class="d-flex flex-column">

    {% block header %}
    <div id="header">
      <div class="container p-0">
        {% block header_content %}
        <div class="align-items-center pt-5 pb-1 pt-md-5 pb-md-5 mt-md-5">
          <div class="col text-center ps-1 pe-1 ps-md-2 pe-md-2">
            <p class="header-title">Dein <span
                    class="heading-effect">Feed</span><span>,</span> Deine <span
                    class="heading-effect">Wahl</span><span>.</span></p>
          </div>
        </div>
        {% endblock header_content %}
      </div>
    </div>
    {% endblock header %}

    <div>
      <div class="container p-0">
        {% block main_content %}
        <div>
          <h1>Heading 1</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        {% endblock main_content %}
      </div>

      <div>
        {% include "dd_wi_main/components/share_buttons.html" %}
      </div>

      <div id="footer" class="mt-5 pt-5">
        <div class="container">
          {% block footer_content %}
          <div class="row align-items-center pb-2">
            <div class="col text-center">
              <a href="https://www.weizenbaum-institut.de/" target="_blank">
                <img class="p-1 logo" alt="Logo Weizenbaum Institut"
                      src="{% static 'dd_wi_main/img/logos/wzb_color_logo.svg' %}"
                      height="120px">
              </a>
            </div>

            <div class="col text-center">
              <a href="https://datadonation.uzh.ch/" target="_blank">
                <img alt="Logo Data Donation Lab" class="logo"
                      src="{% static 'dd_wi_main/img/logos/ddlab_logo_black.svg' %}"
                      height="120px">
              </a>
            </div>

            <div class="col text-center">
              <a href="https://uzh.ch/" target="_blank">
                <img alt="Logo Universität Zürich" class="logo"
                      src="{% static 'dd_wi_main/img/logos/uzh_logo.svg' %}"
                      height="120px">
              </a>
            </div>

            <div class="col text-center">
              <a href="https://www.stuttgarter-nachrichten.de/" target="_blank">
                <img alt="Logo StuttgarterZeitung/Stuttgarter Nachrichten"
                      class="logo"
                      src="{% static 'dd_wi_main/img/logos/stzn_logos.svg' %}"
                      height="120px">
              </a>
            </div>

            <div class="col text-center">
              <a href="https://www.br.de/index.html" target="_blank">
                <img alt="Logo Bayerischer Rundfunk" class="logo"
                      src="{% static 'dd_wi_main/img/logos/br.png' %}"
                      height="80px">
              </a>
            </div>
          </div>

          <div class="row align-items-center justify-content-center pb-3 pt-4">
            <div class="col-auto text-center">
              <a target="_blank" href="{% url 'imprint' %}">Impressum</a>
            </div>
            <div class="col-auto text-center">
              <a target="_blank" href="{% url 'contact' %}">Kontakt</a>
            </div>
            <div class="col-auto text-center">
              <a target="_blank"
                    href="{% url 'data_protection' %}">Datenschutz</a>
            </div>
          </div>
          {% endblock footer_content %}
        </div>
      </div>
    </div>

    {% include "dd_wi_main/components/cookie_info.html" %}

    {% block site_js %}
    <script
          src="{% static 'dd_wi_main/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'cookie_consent/cookiebar.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'dd_wi_main/js/cookie-info.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'dd_wi_main/js/heading-effects.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'dd_wi_main/js/sharing.js' %}"></script>

    <!-- Matomo -->
    <script>
      const hostname = window.location.hostname.replace(/^www\./, '');

      if (hostname === 'stage.dein-feed-deine-wahl.de') {
        var siteId = '2';
      } else {
        var siteId = '1';
      }

      var _paq = window._paq = window._paq || [];

      /* Ensure cookieless, privacy-friendly tracking of site visits; not collecting personal data. */
      _paq.push(['disableCookies']);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "//matomo.dein-feed-deine-wahl.de/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', siteId]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->

    {% endblock site_js %}

  </div>
</body>

</html>