{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block title %}Datenschutz | Dein Feed, Deine Wahl{% endblock %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content ps-2 pe-2">
    <div class="main-section intro-text fs-6 mb-5">
        <h3 class="text-center mb-4">Datenschutz</h3>
        
        <h5 class="mt-4 mb-3">Freiwilligkeit der Teilnahme</h5>
        <p>
            Ihre Teilnahme an dieser Studie ist freiwillig. Sie sind nicht zur Teilnahme verpflichtet. Sie können sich jederzeit während der Studie dazu entscheiden, Ihre Teilnahme zu beenden. Ein nachträglicher Rückzug Ihrer Daten ist nicht möglich, da die Daten anonymisiert erhoben werden.
        </p>

        <h5 class="mt-4 mb-3">Datenschutz</h5>
        <p>
            Wir und unsere Projektpartner behandeln Ihre Daten gemäß den gesetzlichen Vorschriften (der Datenschutz-Grundverordnung oder DSGVO).
        </p>

        <h5 class="mt-4 mb-3">Datenverarbeitung und -weitergabe</h5>
        <p>
            Daten, die in dieser Studie gesammelt werden, werden zunächst bei unserem Serverhost STRATO GmbH zwischengespeichert. Die STRATO Rechenzentren stehen in Deutschland, sodass Ihre Daten DSGVO konform gespeichert werden. Die Rechenzentren sind nach DIN ISO 27001 TÜV zertifiziert: Das belegt beste physische und elektronische Sicherheit vor Ausfällen und externen Angriffen. Spätestens nach 6 Monaten werden die gesammelten Daten auf sicheren Servern des Weizenbaum Institut e.V. übertragen und bei STRATO unwiderruflich gelöscht.
        </p>
        <p>
            Für die Auswertung werden die anonymen Daten mit den Projektpartnern geteilt (Bayrischer Rundfunk & Stuttgarter Zeitung/ Stuttgarter Nachrichten). Die Daten werden zu jeder Zeit auf deutschen Servern gespeichert und die Projektpartner garantieren eine DSGVO-konforme Datensicherheit, unabhängig davon, wo die Daten vorübergehend gespeichert werden.
        </p>
        <p>
            Die Ergebnisse und Daten dieser Studie können mit anderen Forschern geteilt werden und/oder werden über eine öffentliche Datenbank (Open Access) anonymisiert zugänglich gemacht. Die Ergebnisse und Daten können in zukünftigen Forschungen zu anderen Themen außerhalb der Projektbeschreibung verwendet werden.
        </p>

        <h5 class="mt-4 mb-3">Aufbewahrungsfrist</h5>
        <p>
            Forschungsdaten werden für mindestens 10 Jahre aufbewahrt.
        </p>

        <h5 class="mt-4 mb-3">Rechte der betroffenen Person</h5>
        <p>Gemäß DS-GVO hat jede betroffene Person das Recht auf:</p>
        <ul class="mb-3">
            <li>Auskunft (nach Art. 15 DS-GVO)</li>
            <li>Berichtigung (nach Art. 16 DS-GVO)</li>
            <li>Löschung (nach Art. 17 DS-GVO)</li>
            <li>Einschränkung der Verarbeitung (nach Art. 18 DS-GVO)</li>
            <li>Datenübertragbarkeit (nach Art. 20 DS-GVO)</li>
            <li>Recht auf Widerspruch (nach Art. 21 DS-GVO)</li>
        </ul>
        <p>
            Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
        </p>
        <p>
            Darüber hinaus besteht ein Beschwerderecht bei einer Datenschutzaufsichtsbehörde (Art.13 Abs. 2 lit. d i.V.m. Art. 14 Abs. 2 lit. D DS-GVO, Art. 77 DS-GVO i.V.m. § 19 BDSG).
        </p>
        <p>
            Der Text der DS-GVO findet sich im Internet unter <a href="http://www.dsgvo-gesetz.de" target="_blank">www.dsgvo-gesetz.de</a> sowie der Text des BDSG unter <a href="http://www.gesetze-im-internet.de/bdsg_2018/" target="_blank">www.gesetze-im-internet.de/bdsg_2018/</a>
        </p>
        <p>
            Automatisierte Entscheidungsfindung im Sinne des Art. 22 DSGVO wird nicht verwendet.
        </p>

        <h5 class="mt-4 mb-3">Weitere Informationen</h5>
        <p>
            Bei Fragen zur Studie wenden Sie sich bitte an den verantwortlichen Forscher:<br>
            Dr. Jakob Ohme; <a href="mailto:jakob.ohme@weizenbaum-institut.de">jakob.ohme@weizenbaum-institut.de</a>
        </p>
        <p>
            Für Beschwerden über die Studie oder die Forschung können Sie sich an den benannten Datenschutzbeauftragten des Weizenbaum-Instituts e.V. wenden, indem Sie eine E-Mail an <a href="mailto:datenschutz@weizenbaum-institut.de">datenschutz@weizenbaum-institut.de</a> senden. Ihre Beschwerde oder Anmerkung wird vertraulich behandelt.
        </p>
        <p>
            Die Studie wurde von der Ethik-Kommission des Weizenbaum-Instituts geprüft und bestätigt.
        </p>

        <div class="text-center">
            <a href="/" class="btn btn-dark btn-sm mt-4" role="button">zurück zur Startseite</a>
        </div>
    </div>
</div>
{% endblock main_content %}
