{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block title %}Datenschutz | Dein Feed, Deine Wahl{% endblock %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content ps-2 pe-2">
    <div class="main-section intro-text fs-6 mb-5">
        <h3 class="text-center mb-4">Datenschutz</h3>
        <p>
            Wir und unsere Projektpartner behandeln deine Daten gemäß den
            gesetzlichen Vorschriften der Datenschutz-Grundverordnung.
        </p>

        <h4 class="mt-4 mb-3">Cookies</h4>
        <p>
            Unsere Webseite verwendet das Minimum an notwendigen Cookies, um
            die Funktionalität der Webseite sicherzustellen.
            Es werden keine personenbezogenen Daten in den Cookies gespeichert.
            Mehr Informationen zu den verwendeten Cookies findest du auf der
            folgenden Seite:
            <a href="/cookies">https://dein-feed-deine-wahl.de/cookies/</a>.
        </p>

        <h4 class="mt-4 mb-3">Tracking</h4>
        <p>
            Um besser zu verstehen, wie oft unsere Webseite besucht wird,
            verwenden wir Matomo, eine Open-Source-Webanalyse-Software. Wir
            setzen dabei bewusst auf ein cookieloses Tracking, um die
            Privatsphäre unserer Besucher:innen bestmöglich zu schützen. Das
            bedeutet, dass wir keine Cookies verwenden, um Besucher:innen zu
            tracken.<br>
            Um dennoch zu verstehen, wie oft unsere Webseite besucht wird,
            wird ein anonymer "Geräte-Fingerabruck" verwendet, um einzelne
            Besuche voneinander zu unterscheiden. Dabei werden keinerlei
            personenbezogene Daten verarbeitet und gespeichert. Lediglich
            die folgenden Informationen werden auf unserem Server mit
            Standort in Deutschland abgelegt:
        </p>

        <ul class="mb-3 fs-5">
            <li>
                Besuchte Seiten und Verweildauer
            </li>
            <li>
                Browser und Betriebssystem
            </li>
            <li>
                Anonymisierte IP-Adresse (bspw. '192.168.xxx.xxx')
            </li>
            <li>
                Von wo der Zugriff erfolgt (Herkunftsland)
            </li>
            <li>
                Uhrzeit des Zugriffs
            </li>
        </ul>
        <p>
            Diese Daten lassen keine Rückschlüsse auf deine Person zu und
            werden nicht an Dritte weitergegeben.
        </p>

        <h4 class="mt-4 mb-3">Freiwilligkeit der Teilnahme (Datenspende)</h4>
        <p>
            Deine Teilnahme an dieser Studie ist freiwillig. Du kannst dich
            jederzeit während der Studie dazu entscheiden, deine Teilnahme zu
            beenden. Ein nachträglicher Rückzug deiner Daten ist nicht möglich,
            da die Daten anonymisiert erhoben werden.
        </p>

        <h4 class="mt-4 mb-3">Datenverarbeitung und -weitergabe</h4>
        <p>
            Daten, die in dieser Studie gesammelt werden, werden zunächst bei
            unserem Serverhost STRATO GmbH zwischengespeichert.
            Die STRATO Rechenzentren stehen in Deutschland, sodass deine Daten
            DSGVO konform gespeichert werden.
            Die Rechenzentren sind nach DIN ISO 27001 TÜV zertifiziert: Das
            belegt beste physische und elektronische Sicherheit vor Ausfällen
            und externen Angriffen.
            Spätestens nach 6 Monaten werden die gesammelten Daten auf sicheren
            Servern des Weizenbaum Institut e.V. übertragen und bei STRATO
            unwiderruflich gelöscht.
        </p>
        <p>
            Für die Auswertung können die anonymisierten Daten mit den
            Projektpartnern (UZH Zürich, Bayerischer Rundfunk & Stuttgarter
            Zeitung/ Stuttgarter Nachrichten)
            und anderen Forschenden geteilt werden und/oder werden über eine
            öffentliche Datenbank (Open Access) anonymisiert zugänglich gemacht.
            Die Ergebnisse und Daten können in zukünftigen Forschungen zu
            anderen Themen außerhalb der Projektbeschreibung verwendet werden.
        </p>

        <h4 class="mt-4 mb-3">Aufbewahrungsfrist</h4>
        <p>
            Forschungsdaten werden für mindestens 10 Jahre aufbewahrt.
        </p>

        <h4 class="mt-4 mb-3">Rechte der betroffenen Person</h4>
        <p>Gemäß DS-GVO hat jede betroffene Person das Recht auf:</p>
        <ul class="mb-3 fs-5">
            <li>Auskunft (nach Art. 15 DS-GVO)</li>
            <li>Berichtigung (nach Art. 16 DS-GVO)</li>
            <li>Löschung (nach Art. 17 DS-GVO)</li>
            <li>Einschränkung der Verarbeitung (nach Art. 18 DS-GVO)</li>
            <li>Datenübertragbarkeit (nach Art. 20 DS-GVO)</li>
            <li>Recht auf Widerspruch (nach Art. 21 DS-GVO)</li>
        </ul>
        <p>
            Beim Auskunftsrecht und beim Löschungsrecht gelten die
            Einschränkungen nach §§ 34 und 35 BDSG.
        </p>
        <p>
            Darüber hinaus besteht ein Beschwerderecht bei einer
            Datenschutzaufsichtsbehörde (Art.13 Abs. 2 lit. d i.V.m. Art. 14
            Abs. 2 lit. D DS-GVO, Art. 77 DS-GVO i.V.m. § 19 BDSG).
        </p>
        <p>
            Der Text der DS-GVO findet sich im Internet unter <a
                  href="http://www.dsgvo-gesetz.de"
                  target="_blank">www.dsgvo-gesetz.de</a> sowie der Text des
            BDSG unter <a href="http://www.gesetze-im-internet.de/bdsg_2018/"
                  target="_blank">www.gesetze-im-internet.de/bdsg_2018/</a>
        </p>
        <p>
            Automatisierte Entscheidungsfindung im Sinne des Art. 22 DSGVO
            wird
            nicht verwendet.
        </p>

        <h4 class="mt-4 mb-3">Weitere Informationen</h4>
        <p>
            Bei Fragen zur Studie wende dich bitte an den verantwortlichen
            Forscher: <br>
            Dr. Jakob Ohme; <a
                  href="mailto:jakob.ohme@weizenbaum-institut.de">jakob.ohme@weizenbaum-institut.de</a>
        </p>
        <p>
            Für Beschwerden über die Studie oder die Forschung kannst du dich an
            den benannten Datenschutzbeauftragten des Weizenbaum-Instituts e.V.
            wenden, indem du eine E-Mail an
            <a
                  href="mailto:datenschutz@weizenbaum-institut.de">datenschutz@weizenbaum-institut.de</a>
            sendest. Deine Beschwerde oder Anmerkung wird vertraulich behandelt.

        </p>
        <p>
            Die Studie wurde von der Ethik-Kommission des
            Weizenbaum-Instituts
            geprüft und bestätigt.
        </p>

        <div class="text-center">
            <a href="/" class="btn btn-dark btn-sm mt-4" role="button">zurück
                zur Startseite</a>
        </div>
    </div>
</div>
{% endblock main_content %}