{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block title %}Impressum | Dein Feed, Deine Wahl{% endblock %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content ps-2 pe-2">
    <div class="main-section intro-text text-center fs-6 mb-5">
        <h3>Datenschutz</h3>
        <div>
            <p>Something</p>
        </div>
        <a href="/" class="btn btn-dark btn-sm mt-3" role="button">zurück zur Startseite</a>
    </div>
</div>
{% endblock main_content %}
