{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block title %}Impressum | Dein Feed, Deine Wahl{% endblock %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content ps-2 pe-2">
    <div class="main-section intro-text text-center fs-6 mb-5">
        <h3>Impressum</h3>
        <div class="imprint">
            <p class="fw-bold">Institution und Anschrift</p>
            <p>Dr. Jakob Ohme</p>
            <p>Forschungsgruppe: Dynamiken der digitalen Nachrichtenvermittlung</p>
            <p>Weizenbaum-Institut e. V.</p>
            <p>Hardenbergstraße 32</p>
            <p>10623 Berlin</p>

            <p class="pt-3">E-Mail-Adresse: jakob.ohme@weizenbaum-institut.de</p>

            <p>Dr. Jakob Ohme</p>
        </div>
        <a href="/" class="btn btn-dark btn-sm mt-3" role="button">zurück zur Startseite</a>
    </div>
</div>
{% endblock main_content %}
