{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content">
    <div class="main-section intro-text text-center">
        <div>
            <!-- TODO: Aktuell Platzhalter Text - Ersetzen durch Journalists Text sobalt sie vond er Mega Landing page wissen... -->
            <p>
                Am 23. Februar 2025 findet die Bundestagswahl statt.
                Doch welche Rolle spielen TikTok und politische Inhalte auf TikTok in der Bundestagswahl?
            </p>

            <div class="cta-container p-3">
                <a href="/ddm/studies/tiktok/briefing/" target="_blank"  class="cta-button btn-lg btn" role="button">Jetzt mitmachen und persönliche Feed-Analyse erhalten!</a>
            </div>

            <p>
                Dies ist ein Gemeinschaftsprojekt des Weizenbaum Instituts Berlin,
                der Universität Zürich, des Bayerischen  Rundfunks BR und der
                Stuttgarter Zeitung um besser zu verstehen, wie Personen die
                Aktivitäten der Parteien auf TikTok wahrgenommen haben.
            </p>

            <p class="fw-bolder pt-3 pb-3">
                Spende deinen Feed und hilf uns dabei!
            </p>
            <p>
                Unten findest du eine allgemeine Übersicht, über die Aktivitäten
                der Parteien auf TikTok.
            </p>
        </div>
    </div>

    <!-- Public TikTok Stats Section -->
    {% include "reports/public_report.html" %}

    <div class="main-section intro-text text-center pt-5 pb-5">
        <div class="cta-container p-3">
            <a href="/ddm/studies/tiktok/briefing/" target="_blank" class="cta-button btn btn-lg" role="button">Jetzt mitmachen und persönliche Feed-Analyse erhalten!</a>
        </div>
    </div>

</div>
{% endblock main_content %}

{% block footer_content %}
<div class="row align-items-center pb-5">
  <div class="col"></div>
  <div class="col text-center">
    <img class="p-3" alt="Logo Weizenbaum Institut" src="{% static 'dd_wi_main/img/logos/wzb_logo.svg' %}" height="85px">
    <img alt="Logo Data Donation Lab" src="{% static 'dd_wi_main/img/logos/ddlab_logo_black.svg' %}" height="85px">
  </div>
  <div class="col"></div>
</div>
{% endblock footer_content %}
