{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block site_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reports/css/base.css' %}">
{% endblock site_css %}

{% block main_content %}
<div class="landing-content">
    <div class="main-section intro-text text-center">
        <div>

            <!-- Public TikTok Stats Section -->
            <div class="text-center pb-3 pb-md-5">
                <h3 class="ps-1 pe-1 pt-1 pt-md-3 fw-500 fs-4 fs-md-3">Am 23.
                    Februar 2025
                    findet die
                    Bundestagswahl statt.</h3>
                <h3 class="ps-1 pe-1 pb-2 pb-md-3 fw-500 fs-4 fs-md-3">Die <span
                          class="highlight-second fw-500 fs-4 fs-md-3">Parteien</span>
                    posten
                    dazu
                    t&auml;glich auf TikTok...</h3>
                <div class="plot-wrapper p-1 pe-2 p-md-4 pe-md-5 rounded-md-2"
                      style="background: #313131">
                    {{ party_distribution_plot.html|safe }}
                </div>
            </div>

            <h3 class="ps-1 pe-1 pb-1 pb-md-3 fw-500 fs-4 fs-md-3">... aber wie
                politisch ist
                eigentlich <span
                      class="stats-value fw-500 fs-4 fs-md-3">dein&nbsp;TikTok</span>?
            </h3>

            <div class="cta-container p-3 pb-4">
                <a href="/ddm/studies/tiktok/briefing/" target="_blank"
                      class="cta-button btn-lg btn" role="button">
                    Klick hier und mach anonym mit, um deine persönliche
                    TikTok-Analyse zu erhalten!
                </a>
            </div>

            <p class="mt-5">
                Dies ist ein Gemeinschaftsprojekt des Weizenbaum Instituts
                Berlin und der Universität Zürich.
                Journalistinnen und Journalisten des Bayerischen Rundfunks und
                der Stuttgarter Zeitung/ Stuttgarter Nachrichten werten die
                Daten zusammen mit den Forschungseinrichtungen aus.
                Zusammen wollen wir herausfinden, welche politischen Posts und
                wie viele davon dich auf Tiktok erreichen.
            </p>

            <p class="fw-bolder mb-0 pt-3">
                Spende deinen Feed und hilf uns dabei!
            </p>
            <p class="fw-bolder mt-0 mb-0">
                Anonym. Ohne Registrierung.
            </p>
        </div>
    </div>

    <div class="main-section intro-text text-center pb-5 mb-5">
        <div class="cta-container p-3">
            <a href="/ddm/studies/tiktok/briefing/" target="_blank"
                  class="cta-button btn btn-lg" role="button">
                Klick hier und mach anonym mit, um deine persönliche
                TikTok-Analyse zu erhalten!</a>
        </div>
    </div>

</div>
{% endblock main_content %}