{% extends "dd_wi_main/base.html" %}

{% load static %}

{% block main_content %}
<div class="row align-items-center pt-2 pb-5">
  <div class="col-2"></div>
  <div class="col text-center">
    <p class="pt-3 pb-3">Diese Seite befindet sich aktuell im Aufbau.</p>
  </div>
  <div class="col-2"></div>
</div>

{% endblock %}

{% block footer_content %}
<div class="row align-items-center pb-5">
  <div class="col"></div>
  <div class="col text-center">
    <img class="p-3" alt="Logo Weizenbaum Institut" src="{% static 'dd_wi_main/img/logos/wzb_logo.svg' %}" height="85px">
    <img alt="Logo Data Donation Lab" src="{% static 'dd_wi_main/img/logos/ddlab_logo_black.svg' %}" height="85px">
  </div>
  <div class="col"></div>
</div>
{% endblock footer_content %}
